<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-info">
        <p>{{ systemInfo.name }} v{{ systemInfo.version }}</p>
      </div>
      
      <nav>
        <ul class="footer-links">
          <li><a href="#" @click.prevent>ヘルプ</a></li>
          <li><a href="#" @click.prevent>お問い合わせ</a></li>
          <li><a href="#" @click.prevent>プライバシーポリシー</a></li>
        </ul>
      </nav>
    </div>
    
    <div class="copyright">
      <p>&copy; {{ currentYear }} 管理システム. All rights reserved.</p>
    </div>
  </div>
</footer>
