<div>
  <div class="page-header">
    <h1 class="page-title">ストックロット一覧</h1>
      <button @click="goToAddStock" class="btn btn-primary">新規登録</button>
  </div>
  <!-- ページヘッダー -->
  <table v-if="stockLots.length > 0" class="common-table">
    <thead>
      <tr>
        <th>銘柄コード</th>
        <th>オーナー</th>
        <th>銘柄名</th>
        <th>単元数</th>
        <th>平均購入価格</th>
        <th>現在価格</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="lot in stockLots" :key="lot.id">
        <td>{{ lot.stock.code }}</td>
        <td>{{ lot.owner.name }}</td>
        <td>{{ lot.stock.name }}</td>
        <td>{{ lot.currentUnit }}</td>
        <td>{{ lot.averagePrice }}</td>
        <td>{{ lot.stock.currentPrice }}</td>
      </tr>
    </tbody>
  </table>
  <div v-else>
    <p>データはありません</p>
  </div>
</div>