<div>
  <div class="page-header">
    <h1 class="page-title">ストックロット一覧</h1>
  </div>
  <table v-if="stockLots.length > 0" class="common-table">
    <thead>
      <tr>
        <th>日付</th>
        <th>種類</th>
        <th>銘柄コード</th>
        <th>オーナー</th>
        <th>銘柄名</th>
        <th>単元数</th>
        <th>価格</th>
        <th>手数料</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="lot in stockLots" :key="lot.id">
        <td>{{ lot.date }}</td>
        <td>{{ lot.type }}</td>
        <td>{{ lot.stock.code }}</td>
        <td>{{ lot.owner_name }}</td>
        <td>{{ lot.stock.name }}</td>
        <td>{{ lot.unit }}</td>
        <td>{{ lot.price }}</td>
        <td>{{ lot.fees }}</td>
      </tr>
    </tbody>
  </table>
  <div v-else>
    <p>データはありません</p>
  </div>
</div>