<!-- 在庫管理ページのコンテナ -->
<div>
  <!-- ページヘッダー -->
  <div class="page-header">
    <h1 class="page-title">在庫管理</h1>
    <button @click="goToAddStock" class="btn btn-primary">新規登録</button>
  </div>

  <!-- 在庫を表示するためのテーブル -->
  <table class="common-table">
    <!-- テーブルヘッダー -->
    <thead>
      <tr>
        <th>コード</th>
        <th>名前</th>
        <th>セクター</th>
        <th>アクション</th>
      </tr>
    </thead>
    <!-- テーブルボディ -->
    <tbody>
      <!-- 在庫情報をループで表示 -->
      <tr v-for="stock in stocks" :key="stock.id">
        <td>{{ stock.code }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.sector.name }}</td>
        <td>
          <button @click="editStock(stock.id)" class="btn btn-secondary">編集</button>
          <button @click="deleteStock(stock.id)" class="btn btn-danger">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
