<!-- 在庫管理ページのコンテナ -->
<div>
  <!-- ページヘッダー -->
  <div class="page-header">
    <h1 class="page-title">在庫管理</h1>
    <div>
      <button @click="updateSelectedStocks" class="btn btn-success">選択した銘柄の株価を更新</button>
      <button @click="exportCSV" class="btn btn-info">CSV出力</button>
      <button @click="goToAddStock" class="btn btn-primary">新規登録</button>
    </div>
  </div>

  <!-- 在庫を表示するためのテーブル -->
  <table class="common-table">
    <!-- テーブルヘッダー -->
    <thead>
      <tr>
        <th><input type="checkbox" @change="toggleSelectAll"></th>
        <th>コード</th>
        <th>名前</th>
        <th>現在の株価</th>
        <th>配当金</th>
        <th>業績発表日</th>
        <th>セクター</th>
        <th>アクション</th>
      </tr>
    </thead>
    <!-- テーブルボディ -->
    <tbody>
      <!-- 在庫情報をループで表示 -->
      <tr v-for="stock in stocks" :key="stock.id">
        <td><input type="checkbox" :value="stock.code" v-model="selectedStocks"></td>
        <td>{{ stock.code }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.current_price }}</td>
        <td>{{ stock.dividend }}</td>
        <td>{{ stock.earnings_date }}</td>
        <td>{{ stock.sector.name }}</td>
        <td>
          <button @click="editStock(stock.id)" class="btn btn-secondary">編集</button>
          <button @click="deleteStock(stock.id)" class="btn btn-danger">削除</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
